h1, body {
	text-align: center;
}

#app {
	text-align: center;
}

#accounts {
	display: inline-block;
	vertical-align: top;
}

#holdings {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}